<!DOCTYPE html>
<html>
<head>
    <title>Feriados Cadastrados</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
</head>
<body>
    <h1>Lista de Feriados</h1>
    <table>
        <tr>
            {% for feriado in feriados %}
                <td>{{ feriado.nome }} - {{ feriado.dia }}/{{ feriado.mes }}</td>
                <td><a href="{% url 'mod_feriado' feriado.id %}">Modificar</a></td>
            {% empty %}
                <li>Nenhum feriado cadastrado.</li>
            {% endfor %}
        </tr>
    </table>
    <a href="{% url 'add_feriado' %}">Adicionar novo feriado</a>
</body>
</html>
